.venv/
.git/
.gitignore
.ruff_cache/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
.env
.env.*
!.env.example
tests/
*.md
*.tar
*.tar.gz
.vscode/
.github/
.pre-commit-config.yaml
LICENSE
Dockerfile
docker-compose*.yml
